@inherits LayoutComponentBase


<div class="page">
    <main>
        <article class="content px-4">
            <div class="container py-3">
                <Header Heading="@HeaderState.CurrentHeader.Heading"
                        SubHeading="@HeaderState.CurrentHeader.SubHeading"
                        ButtonText="@HeaderState.CurrentHeader.ButtonText"
                        ButtonIcon="@HeaderState.CurrentHeader.ButtonIcon"
                        ButtonAction="@HeaderState.CurrentHeader.ButtonAction" />
            </div>
            <div class="container py-3">
                @Body
            </div>
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        HeaderState.OnChange += HeaderChanged;
    }

    private void HeaderChanged()
    {
        // Ensure this runs on the UI thread
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        HeaderState.OnChange -= HeaderChanged;
    }
}