@inherits LayoutComponentBase
@attribute [Authorize]

<div class="page">
    <main>
        <article class="content px-4">
            <div class="container py-3">
                <Header Heading="@HeaderState.CurrentHeader.Heading"
                        SubHeading="@HeaderState.CurrentHeader.SubHeading"
                        ButtonText="@HeaderState.CurrentHeader.ButtonText"
                        ButtonIcon="@HeaderState.CurrentHeader.ButtonIcon"
                        ButtonAction="@HeaderState.CurrentHeader.ButtonAction" />
            </div>
            <div class="container py-3">
                @Body
            </div>
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        HeaderState.OnChange += HeaderChanged;
    }

    private void HeaderChanged()
    {
        // Ensure this runs on the UI thread
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        HeaderState.OnChange -= HeaderChanged;
    }

    private bool _initialized;

    protected override async Task OnInitializedAsync()
    {
        if (_initialized) return;

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        if (!authState.User.Identity.IsAuthenticated)
        {
            Navigation.NavigateTo("login", true);
        }

        _initialized = true;
    }
}